{% extends 'layout.html' %}

{% block title %}Kuvveeeijja{% endblock %}

{% block head %}
{% endblock %}


{% block content %}
<h1>Uusimmat kuvat:</h1>
<div class="wrapper">
	<img src="http://placekitten.com/300">
	<img src="http://placekitten.com/302">
	<img src="http://placekitten.com/304">
	<img src="http://placekitten.com/306">
	<img src="http://placekitten.com/308">
	<img src="http://placekitten.com/310">
</div>
<h1>Parhaat kuvat:</h1>
<div class="wrapper">
	<img src="http://placekitten.com/301">
	<img src="http://placekitten.com/303">
	<img src="http://placekitten.com/305">
	<img src="http://placekitten.com/307">
	<img src="http://placekitten.com/309">
	<img src="http://placekitten.com/311">
</div>
{% endblock %}