<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>{% block title %}{{title}}{% endblock %}</title>
		{% block head %}
		<link rel="stylesheet" href="main.css">
		{% endblock %}
	</head>
	<body>
		<div id="wrapper">
			<header>
				<h1>#Alastonkanava</h1>
				<ul>
					<li><a href="/users">kaeyttaettajat</a></li>
					<li><a href="/images">kuvveee</a></li>
					<li><a href="/login">kirjaudu</a></li>
					<li><a href="/logout">kirjaudu ulos</a></li>
					<li><a href="/addimg">lisaaeae kuvvei</a></li>
					<li><a href="/register">rekisteroidy</a></li>
				</ul>
			</header>
			<section id="content">
				{% block content %}{% endblock %}
			</section>
			<footer>
			</footer>
		</div>
	</body>
</html>